/* ----- PENNY DREADFUL THEME UPDATED ----- */

/* ---------------------------
    1. Variables
------------------------------ */
:root {
  --default-font: "Abril Fatface", serif;
  --sub-header-font: "IM Fell English SC", serif;
  --text-font: "IM Fell English", serif;
    
  /* Colors */
  --background-color: #EBB35C;
  --paper-tone: #F3EAE1;
  --charcoal-ink: #303030;
  --burnt-terracotta: #BC3D1C;
  --olive-bronze: #837622;
  --dark-umber: #302226;
}


/* ----------------------------
    2. Global Reset & Typography
------------------------------- */

body {
    background-color: var(--background-color);
    color: var(--charcoal-ink);
}

h1 {
    font-family: var(--default-font);
    font-size: 3rem; 
    color: var(--charcoal-ink);
    text-transform: uppercase;
    text-align: center;
    line-height: 0.85;
    transform: scaleY(1.3); 
    /* text-shadow: 
        3px 3px 0px var(--paper-tone),
        5px 5px 0px rgba(0,0,0,0.2); */
}

/* Subheaders with "Rule Lines" */
h2, h3, h4, h5, h6 {
    font-family: var(--sub-header-font);
    color: var(--charcoal-ink);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 1em;
    border-bottom: 3px double var(--charcoal-ink);
    letter-spacing: 1px;
}

/* Body Text: The "Newspaper" Look */
p {
    font-family: var(--text-font);
    font-size: 1.15rem;
    line-height: 1.4;
    text-align: justify;
}

/* ---------------------------
  3. Layout components: Background, Nav & Footer
------------------------------ */
.page-content {
    width: min(95%, 64rem);
    margin: 4vh auto;
    padding: 2rem;
    background: var(--paper-tone);
    border: 2px solid var(--charcoal-ink);
    /* outline: 6px solid var(--charcoal-ink);
    outline-offset: 6px; */
}


/* ----- Navbar ----- */
.navbar {
  border-bottom: 6px double var(--dark-umber);
}

.navbar-nav {
  background-color: transparent;
  border-top: 6px double var(--dark-umber);
  border-bottom: 6px double var(--dark-umber);
  border-radius: 0px;
}

.navbar-nav .nav-link {
  background-color: transparent;
  font-family: var(--sub-header-font);
  color: var(--burnt-terracotta);
  border: none;
  border-radius: 2px;
  font-size: 1em;
}

.navbar-nav .nav-link:hover {
  background-color: var(--burnt-terracotta);
  color: var(--paper-tone);
}

.navbar .nav-link.active {
  color: var(--paper-tone) !important;
  background-color: var(--burnt-terracotta);
}

/* Change theme button and logo color */
.navbar svg path {
    fill: var(--burnt-terracotta);
}

/* Change hamburger icon */
.navbar-toggler {
  color: var(--burnt-terracotta);
}

.navbar-toggler-icon {
  filter: brightness(0) saturate(100%) invert(25%) sepia(70%) saturate(1514%) hue-rotate(345deg) brightness(105%) contrast(97%);
}

.navbar .layout-container .layout-button:hover {
    background-color: var(--background-color);
    border: 2px solid var(--dark-umber);
}

.navbar .layout-container .layout-options {
  background-color: transparent;
}

.navbar .layout-container .layout-options .trigger-style {
  background-color: var(--background-color);
  border: 2px solid var(--dark-umber);
}

.navbar .layout-container .layout-options .trigger-style:hover {
  border: 2px solid var(--burnt-terracotta);
}

.trigger-style.active-theme .style-label,
.trigger-style:hover .style-label {
  color: var(--background-color);
}

/* ----- Footer ----- */
footer {
  background-color: var(--warm-canvas);
}

.footer-separator {
  height: 2px;
  background: var(--dark-umber);
  max-width: 50%;
}

footer h5 {
  font-family: var(--sub-header-font);
  color: var(--burnt-terracotta);
  border: none;
}

footer p,
footer a {
  color: var(--burnt-terracotta);
  font-family: var(--text-font);
  text-align: center;
}

.bi-github {
  color: var(--burnt-terracotta);
}

.bi-envelope {
  color: var(--burnt-terracotta);
}

footer .copyright-text {
  background-color: transparent;
}

footer .copyright-text p {
  color: var(--paper-tone) !important;
  text-align: justify;
}


/* ---------------------------
    4. HOMEPAGE
------------------------------ */
.carousel-caption {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    width: auto;
    min-width: 200px;
    padding: 8px 20px;
    text-align: center;
}

.carousel-caption a {
    color: var(--paper-tone);
    font-family: var(--sub-header-font);
    text-decoration: none;
    letter-spacing: 1px;
}

.carousel-caption a:hover {
  color: var(--burnt-terracotta);
  transform: none;
}

.carousel-frame-wrapper img {
  border-radius: 50%;
  border: 4px solid var(--charcoal-ink);
  filter:
    grayscale(100%)
    contrast(100%)
    brightness(1.1)
    sepia(20%);
  mix-blend-mode: multiply;
}

.introduction-title h1 {
    width: 100%; 
    max-width: 800px;
    margin: -50px auto 20px auto; 
    display: block;
    text-align: center;
}

.introduction-title h2::after,
.link-documentation h2::after {
  display: none;
}

.introduction-title h1 .std-text {
    display: none !important;
}

.introduction-title h1 .curved-svg {
    display: block !important;
    margin: 0 auto;
}

.link-documentation a {
  border: none;
  font-family: var(--sub-header-font);
  color: var(--burnt-terracotta);
  font-size: 1.2em;
}

.link-documentation a:hover {
  background-color: transparent;
  color: var(--burnt-terracotta);
  border: 6px double var(--burnt-terracotta);
  border-radius: 2px;
}



/* -------------------------------
    5. MAP 
--------------------------------- */
.map-description {
  background-color: transparent;
  border: none;
}

.map-description h2 {
  font-family: var(--default-font);
  font-size: 2em;
}

/* .map-container svg {
  background: radial-gradient(
      circle closest-side at 50% 50%,
      var(--charcoal-ink) 0%,
      var(--charcoal-ink) 95%,
      transparent 96%
  );
} */

#door1,
#door2,
#door3,
#door4,
#door5,
#door6,
#door7,
#door8,
#door9,
#door10,
#door11 {
  fill: var(--paper-tone) !important;
}

#museum-walls {
  fill: var(--charcoal-ink);
}

#entrance-door path {
  stroke: var(--charcoal-ink) !important;
}

#entrance-room,
#first-room,
#second-room,
#third-room,
#fourth-room {
  fill: var(--paper-tone) !important;
  stroke: none;
  opacity: 1;
  transition: fill 0.3s, opacity 0.3s;
}

#text-entrance-room,
#text-first-room, 
#text-second-room, 
#text-third-room, 
#text-fourth-room {
  font-family: var(--text-font) !important;
  fill: var(--charcoal-ink) !important;
  font-weight: 600;
}

#entrance-room:hover,
#first-room:hover,
#second-room:hover,
#third-room:hover, 
#fourth-room:hover {
  fill: var(--charcoal-ink) !important;
}

#entrance-room:hover + #text-entrance-room,
#first-room:hover + #text-first-room,
#second-room:hover + #text-second-room,
#third-room:hover + #text-third-room, 
#fourth-room:hover + #text-fourth-room {
  fill: var(--paper-tone) !important;
} 

#entrance-room.active,
#first-room.active,
#second-room.active,
#third-room.active,
#fourth-room.active {
  fill: var(--charcoal-ink) !important;
}

#entrance-room.active + #text-entrance-room,
#first-room.active + #text-first-room,
#second-room.active + #text-second-room,
#third-room.active + #text-third-room, 
#fourth-room.active + #text-fourth-room {
  fill: var(--paper-tone) !important;
} 


#explore-room-btn {
  border: none;
  font-family: var(--sub-header-font);
  color: var(--burnt-terracotta);
  font-size: 1.2em;
}

#explore-room-btn:hover {
  background-color: transparent;
  color: var(--burnt-terracotta);
  border: 6px double var(--burnt-terracotta);
  border-radius: 2px;
}



/* -------------------------------
  6. CHRONOLOGICAL 
--------------------------------- */
.chronology-container {
    background-color: transparent;
}

.timeline-lines::before {
    background: var(--dark-umber);
    z-index: 0px;
}

.toggle-frame {
  background-color: var(--paper-tone);
  border-bottom: 6px double var(--dark-umber);
  border-radius: 0px;
}

.toggle-text {
    font-family: var(--default-font);
    color: var(--charcoal-ink) !important;
    text-transform: uppercase;
}

.active-text {
   color: var(--burnt-terracotta) !important;
}

.toggle-pill {
  background-color: transparent ;
  border: none;
  
}

.toggle-knob {
  background: transparent;
}

#toggleIcon path {
  fill: var(--burnt-terracotta) !important;
}

#inactiveIcon rect {
  fill: var(--dark-umber) !important;
}

#toggleIcon rect {
  fill: var(--burnt-terracotta) !important;
}

#inactiveIcon path {
  fill: var(--dark-umber) !important;
}

.card {
    background-color: var(--paper-tone);
    border: 4px double var(--charcoal-ink);
    border-radius: 0px;
}

.text-wrapper {
    font-family: var(--default-font);
    color: var(--burnt-terracotta);
    text-transform: uppercase;
}

.item-date {
  font-family: var(--text-font);
  color: var(--charcoal-ink);
  font-style: normal;
  font-size: 1.2em;
}

.ellipse,
.ellipse-2 {
    background: var(--dark-umber);
}


/* -------------------------------
   7. ERAS
--------------------------------- */
.era-card {
    border: none;
    background: transparent;
}

.era-title {
    font-family: var(--sub-header-font);
    color: var(--charcoal-ink);
    text-transform: uppercase;
    text-align: center;
}

.era-description {
    font-family: var(--text-font);
    color: var(--charcoal-ink);
    text-align: center;
}

.era-item {
    border-radius: 2px;
    border: 2px dotted var(--green-amber);
}

.era-item-text {
    background-color: transparent;
    border: none;
    border-radius: 2px;
    color: var(--burnt-terracotta);
    font-family: var(--text-font);
    text-align: center;
    text-shadow: none;
}

.era-items img {
  border-radius: 20%;
  border: 2px solid var(--charcoal-ink);
  filter:
    grayscale(100%)
    contrast(100%)
    brightness(1.1)
    sepia(20%);
  mix-blend-mode: multiply;
}


/* -------------------------------
    8. ITEM PAGE 
--------------------------------- */
/* 1. THE OUTER FRAME */
#item-container {
    border: 6px double var(--charcoal-ink);
}

.table-box {
    border: 2px solid var(--charcoal-ink)
}

.item-box img {
  border-radius: 20%;
  border: 2px solid var(--charcoal-ink);
  filter:
    grayscale(100%)
    contrast(100%)
    brightness(1.1)
    sepia(20%);
  mix-blend-mode: multiply;
}

.table tr {
    border-bottom: 1px solid var(--charcoal-ink);
    background-color: transparent;
    color: var(--charcoal-ink);
}

.table th,
.table td {
    border: none;
    background-color: transparent;
    color: var(--charcoal-ink);
}

.table thead {
  font-family: var(--default-font);
  text-transform: uppercase;
}

.table tbody {
  font-family: var(--text-font);
}

.text-box button {
  font-family: var(--sub-header-font);
  border: none;
  color: var(--charcoal-ink);
}

.text-box button:hover {
  background-color: transparent;
  color: var(--charcoal-ink);
  border: 2px solid var(--charcoal-ink);
  border-radius: 2px;
}

.text-box button.active {
  background-color: transparent;
  border: 2px solid var(--charcoal-ink);
  color: var(--charcoal-ink);
  border-radius: 2px;
}

.buttons-box {
  padding: 1.2em;
  border-bottom: 2px solid var(--charcoal-ink);
}

.card-footer button {
  font-family: var(--sub-header-font);
  font-size: 1.2em;
  border: none;
  border-bottom: 2px solid var(--charcoal-ink);
  border-top: 2px solid var(--charcoal-ink);
  border-radius: 0px;
  color: var(--charcoal-ink);
  background-color: transparent;
}

.card-footer button:hover {
  background-color: transparent;
  color: var(--burnt-terracotta);
  border-bottom: 2px solid var(--burnt-terracotta);
  border-top: 2px solid var(--burnt-terracotta);
  border-radius: 2px;
}

#room-nav-controls span {
  font-family: var(--text-font);
  color: var(--burnt-terracotta) !important;
}